* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.NavContainer {
    /* width: 75vw; */
    height: 40px;
    /* margin: 10px 10px; */
    background: green;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

.NavContainer a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

.HomePageSearch {
    text-align: center;
    /* margin-top: 75px; */
    padding: 75px;
    background-color: green;
}

.SearchInput {
    width: 275px;
    margin: 5px;
}

.login {
    margin: 5px;
}

.EnterMeal {
    margin: 10px 10px;
}

textarea {
    min-height: 100px;
}

.UploadButton {
    margin-top: 15px;
    width: 275px;
}

.photo {
    /* height: 250px; */
    /* width: 300px; */
    /* height: auto; */
    max-height: 400px;
    /* width: auto; */
    max-width: 400px;
    margin-top: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;

}

.container-item {
    /* display: flex; */
    /* margin: auto; */
    margin-top: 50px;
    text-align: center;
    flex-grow: 0;
    /* do not grow   - initial value: 0 */
    flex-shrink: 0;
    /* do not shrink - initial value: 1 */
    flex-basis: 25%;
    /* width/height  - initial value: auto */
}

p {
    margin-bottom: 0px;
}